  $accent:        #00AEEF;
  $footer:        #151515;
  $article:       #1A1A1A;
  $white:         #FFFFFF;
  $twitter:       #6ECBEF;
  $linkedin:      #5CACDF;
  $black:         #000000;
  $bitbucket:     #205081;
  $gitlab_accent: #554488;
  $gitlab_dark:   #E2452A;
  $gitlab_medium: #F36E2C;
  $gitlab_light:  #FAA327;
