<template>
  <main>
    <div class="posts" v-for="post in posts">
      <article class="post" >
        <div class="post__header">
          <h1 class="post__title" v-html="post.title.rendered"></h1>
          <h2 class="post__byline">Published by
            <span class="post__author">{{post.author}}</span> on
            <span class="post__timestamp">{{post.date|formatDate}}</span>
          </h2>
        </div>
        <div class="post__content" v-html="post.content.rendered"></div>
        <div class="post__footer">
          <div class="post__tags" >
            <span v-for="tag, index in post.tags">{{tag}}<span v-if="post.tags.length > 0 && index < (post.tags.length - 1)">, </span> </span>
          </div>
          <div class="post__comment_link"> <!-- future functionality here --> </div>
        </div>
      </article>
    </div>
    <site-footer></site-footer>
  </main>
</template>

<script>
import siteFooter from './footer.vue';

export default {
  data: function () {
    return {
      posts: [],
    }
  },
   beforeMount() {
        axios.all([
          axios.get('http://zamerick.com/api/wp-json/wp/v2/posts'),
          axios.get('http://zamerick.com/api/wp-json/wp/v2/users'),
          axios.get('http://zamerick.com/api/wp-json/wp/v2/tags'),
          axios.get('http://zamerick.com/api/wp-json/wp/v2/categories'),
        ]).then(([{ data: postData }, { data: authorData }, { data: tagData }, { data: categoryData }]) => {
          for (let post of postData) {                                            // Loop through the posts data response.
            for (let author of authorData) {                                      // loop through the authors data response
              if (post.author == author.id) {                                     // if the post author and the id of the current author match
                post.author = author.name;                                        // replace the 'author' id with the 'name' value.
              }
            }
            for ( let [postTagIndex, postTagValue] of post.tags.entries() ) {     // loop through the tags array on the current post.
              for ( let $tag of tagData ) {                                       // loop through the global tag collection
                if ( postTagValue == $tag.id ) {
                  post.tags[postTagIndex] = $tag.name;                            // Swap the 'id' value with the corrosponding 'name' value
                }
              }
            }
            for (let [postCatIndex, postCatValue] of post.categories.entries()) { // loop through the categories array on the current post.
              for (let $cat of categoryData) {                                    // loop through the global tag collection
                if (postCatValue == $cat.id) {
                  post.categories[postCatIndex] = $cat.name;                      // Swap the 'id' value with the corrosponding 'name' value
                }
              }
            }
          }
          this.posts = postData;
        });
  },
  components:  {
    siteFooter
  },
  methods: {
    moment: function () {
      return moment();
    }
  },
  filters: {
    formatDate: function (date) {
      return moment(date).format('MMMM Do, YYYY');
    }
  }
}
</script>

<style lang='scss'>
@import './src/sass/mixin-media-queries';
@import './src/sass/variables';

  .post__author, .post__timestamp
  {
    color: $accent;
  }
  .post__footer
  {
    background-color: $footer;
    padding: 0.5rem;
    display: flex;
  }
  .post__tags
  {
    width:50%;
  }
  .post__comment_link
  {
    width:50%;
    text-align: right;
  }

  article
  {
    background-color: $article;
    width: 80%;
    margin-bottom: 2rem;
    margin-right: auto;
    margin-left: auto;
  }
  p
  {
    margin-bottom: 1rem;
  }
   main
  {
    @include MQ-TAA($S) {
      width: 80%;
      margin-left: 20%;
    }
    @include MQ-TAB($S) {
      margin-left: inherit;
      width:100%;
    }
  }
  .post__content
  {
    @include MQ-TAB($S) {
      padding: 0rem 1rem ;
    }
    @include MQ-TAA($S) {
      padding: 0rem 3rem ;
    }
  }
  /* contains .post__author and .post__timestamp*/
  .post__byline
  {
    margin: auto;
    text-align: center;
    margin-bottom: 1rem;
    margin-top: 1rem;
    width: 80%;
    @include MQ-TAB($S) {
      font-size: 0.8rem;
    }
    @include MQ-TAA($S) {
      font-size: 1.2rem;
    }
    @include MQ-TAA($XL) {
      font-size: 2.0rem;
    }
  }
  .post__title
  {
    color: $accent;
    text-align: center;
    width:100%;
    padding-top: 1rem;
    @include MQ-TAB($S) {
      font-size: 1.5rem;
    }
    @include MQ-TAA($S) {
      font-size: 3rem;
    }
    @include MQ-TAA($XL) {
      font-size: 5rem;
    }
  }

</style>
