<template>
    <footer>&copy; 2016 - {{ currentYear }} Alex Oxthorn. All Rights Reserved.</footer>
</template>

<script>
export default {
  data: function () {
    return {
      currentYear : new Date().getFullYear()
    }
  },
}
</script>

<style lang='scss'>
  footer
  {
    background-color: #1A1A1A;
    width: 80%;
    margin: auto;
    padding: 1rem;
    text-align: center;
  }
</style>

