<template>
  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" >
    <title>hex_social_media_icons</title>
    <symbol id="twitter">
      <polyline id="twitter_shade_half"     class="twitter-shade" points="2.5 86.62 2.5 29.35 52.5 0.72 102.5 29.35"/>
      <polyline id="twitter_shade_offset"   class="twitter-shade" points="12.03 93.71 3.53 85.52 3.57 30.6 52.83 1.54 93.54 22.59"/>
      <path     id="twitter_frame"          class="twitter-frame" d="M15.88,28,54.19,6.06a11.69,11.69,0,0,1,11.62,0L104.12,28A11.69,11.69,0,0,1,110,38.15V81.85A11.69,11.69,0,0,1,104.12,92L65.81,113.94a11.69,11.69,0,0,1-11.62,0L15.88,92A11.69,11.69,0,0,1,10,81.85V38.15A11.69,11.69,0,0,1,15.88,28Z" transform="translate(-7.5 -2.01)"/>
      <path     id="twitter_logo"           class="white-fill"    d="M84.87,44.72a20.14,20.14,0,0,1-5.81,1.59,10.13,10.13,0,0,0,4.44-5.59,20.23,20.23,0,0,1-6.42,2.45,10.12,10.12,0,0,0-17.22,9.22A28.69,28.69,0,0,1,39,41.83a10.12,10.12,0,0,0,3.13,13.49,10.07,10.07,0,0,1-4.58-1.26s0,.08,0,.13a10.11,10.11,0,0,0,8.11,9.91,10.13,10.13,0,0,1-4.56.17,10.12,10.12,0,0,0,9.44,7A20.28,20.28,0,0,1,38,75.62a20.7,20.7,0,0,1-2.41-.14A28.61,28.61,0,0,0,51.1,80c18.59,0,28.76-15.4,28.76-28.76,0-.44,0-.87,0-1.31A20.52,20.52,0,0,0,84.87,44.72Z" transform="translate(-7.5 -2.01)"/>
    </symbol>
    <symbol id="linkedin">
      <polyline id="linkedin_shade_offset"  class="linkedin-shade" points="12.03 93.71 3.53 85.52 3.57 30.6 52.83 1.54 93.54 22.59"/>
      <polyline id="linkedin_shade_half"    class="linkedin-shade" points="2.5 86.62 2.5 29.35 52.5 0.72 102.5 29.35"/>
      <path     id="linkedin_frame"         class="linkedin-frame" d="M15.88,28,54.19,6.06a11.69,11.69,0,0,1,11.62,0L104.12,28A11.69,11.69,0,0,1,110,38.15V81.85A11.69,11.69,0,0,1,104.12,92L65.81,113.94a11.69,11.69,0,0,1-11.62,0L15.88,92A11.69,11.69,0,0,1,10,81.85V38.15A11.69,11.69,0,0,1,15.88,28Z" transform="translate(-7.5 -2.01)"/>
      <path     id="linkedin_i"             class="white-fill"     d="M44.2,39.66a3.92,3.92,0,0,1-7.85,0,3.86,3.86,0,0,1,4-4A3.76,3.76,0,0,1,44.2,39.66ZM37.14,84.3V49.45h6.34V84.3Z" transform="translate(-7.5 -2.01)"/>
      <path     id="linkedin_n"             class="white-fill"     d="M54,58.88c0-3.6-.07-6.55-.29-9.43h5.62l.36,5.76h.14a12.82,12.82,0,0,1,11.52-6.55c4.82,0,12.31,2.88,12.31,14.83V84.3H77.32V64.21c0-5.62-2.09-10.3-8.07-10.3a9,9,0,0,0-8.5,6.48,9.11,9.11,0,0,0-.43,3v21H54Z" transform="translate(-7.5 -2.01)"/>
    </symbol>
    <symbol id="git">
      <polyline id="git_shade_offset"       class="git-shade"  points="12.03 93.71 3.53 85.52 3.57 30.6 52.83 1.54 93.54 22.59"/>
      <polyline id="git_shade_half"         class="git-shade"  points="2.5 86.62 2.5 29.35 52.5 0.72 102.5 29.35"/>
      <path     id="git_frame"              class="git-frame"  d="M15.88,28,54.19,6.06a11.69,11.69,0,0,1,11.62,0L104.12,28A11.69,11.69,0,0,1,110,38.15V81.85A11.69,11.69,0,0,1,104.12,92L65.81,113.94a11.69,11.69,0,0,1-11.62,0L15.88,92A11.69,11.69,0,0,1,10,81.85V38.15A11.69,11.69,0,0,1,15.88,28Z" transform="translate(-7.5 -2.01)"/>
      <circle   id="git_black_circle"       class="git-black"  cx="52.5" cy="58.49" r="30"/>
      <path     id="git_silhouette"         class="white-fill" d="M60,29.5c-16.57,0-30,13.77-30,30.76A30.71,30.71,0,0,0,50.52,89.45c1.5.28,2-.67,2-1.48s0-3.16,0-5.73c-8.35,1.86-10.11-3.63-10.11-3.63-1.36-3.56-3.33-4.5-3.33-4.5-2.72-1.91.21-1.87.21-1.87,3,.22,4.6,3.17,4.6,3.17,2.68,4.7,7,3.34,8.73,2.56a6.61,6.61,0,0,1,1.9-4.11c-6.66-.78-13.67-3.42-13.67-15.2a12.07,12.07,0,0,1,3.09-8.26,11.31,11.31,0,0,1,.29-8.14s2.52-.83,8.25,3.15a27.77,27.77,0,0,1,15,0c5.73-4,8.24-3.15,8.24-3.15a11.3,11.3,0,0,1,.29,8.14,12,12,0,0,1,3.09,8.26c0,11.81-7,14.42-13.7,15.18,1.08,1,2,2.83,2,5.7,0,4.12,0,7.43,0,8.44,0,.82.54,1.78,2.06,1.48A30.7,30.7,0,0,0,90,60.26C90,43.27,76.57,29.5,60,29.5Z" transform="translate(-7.5 -2.01)"/>
      <path     id="git_sucker_1"           class="white-fill" d="M41.36,73.66a.37.37,0,0,1-.51.09c-.22-.1-.34-.31-.27-.46s.3-.2.52-.1.34.31.27.46ZM41,73.38" transform="translate(-7.5 -2.01)"/>
      <path     id="git_sucker_2"           class="white-fill" d="M42.58,75.05c-.14.14-.42.07-.61-.14a.48.48,0,0,1-.09-.64c.15-.14.42-.07.62.14s.23.5.09.64Zm-.29-.31" transform="translate(-7.5 -2.01)"/>
      <path     id="git_sucker_3"           class="white-fill" d="M43.76,76.82c-.18.13-.48,0-.67-.27s-.18-.6,0-.73.48,0,.67.26a.55.55,0,0,1,0,.74Zm0,0" transform="translate(-7.5 -2.01)"/>
      <path     id="git_sucker_4"           class="white-fill" d="M45.38,78.54c-.16.19-.51.14-.77-.12a.6.6,0,0,1-.17-.79c.17-.19.52-.13.78.12s.34.6.16.79Zm0,0" transform="translate(-7.5 -2.01)"/>
      <path     id="git_sucker_5"           class="white-fill" d="M47.62,79.53c-.07.24-.41.35-.75.25s-.56-.39-.49-.63.41-.36.75-.25.56.39.49.63Zm0,0" transform="translate(-7.5 -2.01)"/>
      <path     id="git_sucker_6"           class="white-fill" d="M50.07,79.71c0,.25-.28.46-.64.47s-.65-.2-.65-.45.28-.46.64-.47.65.2.65.45Zm0,0" transform="translate(-7.5 -2.01)"/>
      <path     id="git_sucker_7"           class="white-fill" d="M52.36,79.32c0,.25-.21.5-.56.57s-.67-.09-.72-.33.21-.51.56-.57.67.09.72.34Zm0,0" transform="translate(-7.5 -2.01)"/>
    </symbol>
    <symbol id="bitbucket">
      <polyline id="bitbucket_shade_offset" class="bitbucket-shade" points="12.03 93.71 3.53 85.52 3.57 30.6 52.83 1.54 93.54 22.59"/>
      <polyline id="bitbucket_shade_half"   class="bitbucket-shade" points="2.5 86.62 2.5 29.35 52.5 0.72 102.5 29.35"/>
      <path     id="bitbucket_frame"        class="bitbucket-frame" d="M15.88,28,54.19,6.06a11.69,11.69,0,0,1,11.62,0L104.12,28A11.69,11.69,0,0,1,110,38.15V81.85A11.69,11.69,0,0,1,104.12,92L65.81,113.94a11.69,11.69,0,0,1-11.62,0L15.88,92A11.69,11.69,0,0,1,10,81.85V38.15A11.69,11.69,0,0,1,15.88,28Z" transform="translate(-7.5 -2.01)"/>
      <circle   id="bitbucket_logo_circle"  class="white-fill"      cx="52.49" cy="56.91" r="4.14"/>
      <path     id="bitbucket_logo_bottom"  class="white-fill"      d="M78.68,72.24a1.21,1.21,0,0,0-.71.28s-6.4,5.07-18,5.07-18-5.07-18-5.07a1.21,1.21,0,0,0-.71-.28.91.91,0,0,0-.92,1,1.2,1.2,0,0,0,0,.22c1,5.32,1.72,9.09,1.85,9.66C43.14,87,50.79,90,60,90h0c9.21,0,16.86-3,17.73-6.86.13-.57.85-4.35,1.85-9.66a1.2,1.2,0,0,0,0-.22A.91.91,0,0,0,78.68,72.24Z" transform="translate(-7.5 -2.01)"/>
      <path     id="bitbucket_logo_top"     class="white-fill"      d="M60,30h0c-14.31,0-26,3.85-26,8.62,0,1.26,3.12,19.29,4.36,26.45C38.92,68.28,47.21,73,60,73v0c12.78,0,21.07-4.7,21.62-7.91C82.87,57.92,86,39.88,86,38.62,86,33.85,74.31,30,60,30Zm0,37.19a8.26,8.26,0,1,1,8.26-8.26A8.26,8.26,0,0,1,60,67.19Zm0-25.9c-9.19,0-16.64-1.61-16.64-3.57S50.82,34.19,60,34.2s16.64,1.61,16.64,3.57S69.19,41.3,60,41.29Z" transform="translate(-7.5 -2.01)"/>
    </symbol>
    <symbol id="gitlab">
      <polyline id="gitlab_shade_offset"    class="gitlab-shade"  points="12.03 93.71 3.53 85.52 3.57 30.6 52.83 1.54 93.54 22.59"/>
      <polyline id="gitlab_shade_half"      class="gitlab-shade"  points="2.5 86.62 2.5 29.35 52.5 0.72 102.5 29.35"/>
      <path     id="gitlab_frame"           class="gitlab-frame"  d="M15.88,28,54.19,6.06a11.69,11.69,0,0,1,11.62,0L104.12,28A11.69,11.69,0,0,1,110,38.15V81.85A11.69,11.69,0,0,1,104.12,92L65.81,113.94a11.69,11.69,0,0,1-11.62,0L15.88,92A11.69,11.69,0,0,1,10,81.85V38.15A11.69,11.69,0,0,1,15.88,28Z" transform="translate(-7.5 -2.01)"/>
      <path     id="right_ear"              class="gitlab_dark"   d="M86.68,53.6H71.11L77.8,33A1.15,1.15,0,0,1,80,33L86.68,53.6Z" transform="translate(-7.5 -2.01)"/>
      <path     id="right_outer_triangle"   class="gitlab_light"  d="M86.68,53.6h0L90.05,64a2.3,2.3,0,0,1-.84,2.57L60,87.79,86.68,53.6Z" transform="translate(-7.5 -2.01)"/>
      <path     id="right_middle_triangle"  class="gitlab_medium" d="M60,87.79,71.11,53.6H86.68L60,87.79Z" transform="translate(-7.5 -2.01)"/>
      <path     id="center_triangle"        class="gitlab_dark"   d="M60,87.79h0L71.11,53.6H48.89L60,87.79Z" transform="translate(-7.5 -2.01)"/>
      <path     id="left_middle_triangle"   class="gitlab_medium" d="M60,87.79,48.89,53.6H33.32L60,87.79Z" transform="translate(-7.5 -2.01)"/>
      <path     id="left_outer_triangle"    class="gitlab_light"  d="M33.32,53.6h0L29.95,64a2.3,2.3,0,0,0,.84,2.57L60,87.79,33.32,53.6Z" transform="translate(-7.5 -2.01)"/>
      <path     id="left_ear"               class="gitlab_dark"   d="M33.32,53.6H48.89L42.2,33A1.15,1.15,0,0,0,40,33L33.32,53.6Z" transform="translate(-7.5 -2.01)"/>
    </symbol>
  </svg>
</template>

<script>
export default {
  data () {
    return {}
  }
}
</script>

<style lang='scss'>
@import './src/sass/mixin-media-queries';
@import './src/sass/variables';

  @mixin stroke($color)
  {
      stroke: $color;
      fill: none;  stroke-miterlimit: 10;
      stroke-width: 5px;
  }

  @mixin shade($color)
  {
      fill: $color;
      fill-opacity: 0.5;
  }

  /* Shades */
  .bitbucket-shade      { @include shade($bitbucket);     }
  .git-shade            { @include shade($white);         }
  .twitter-shade        { @include shade($twitter);       }
  .linkedin-shade       { @include shade($linkedin);      }
  .gitlab-shade         { @include shade($gitlab_accent); }
  /* Frames */
  .bitbucket-frame      { @include stroke($bitbucket);    }
  .twitter-frame        { @include stroke($twitter);      }
  .git-frame            { @include stroke($white);        }
  .linkedin-frame       { @include stroke($linkedin);     }
  .gitlab-frame         { @include stroke($gitlab_accent);}
  /* Fills */
  .white-fill           { fill: $white;                   }
  .git-black            { fill: $black;                   }
  .gitlab_dark          { fill: $gitlab_dark;             }
  .gitlab_medium        { fill: $gitlab_medium;           }
  .gitlab_light         { fill: $gitlab_light;            }
  svg                   { display:none;                   }
</style>
